Hello <%= current_user.username %>! <%= link_to 'Log out', logout_path(current_user) %>

<%# Show a form for adding a new series %>
<%= form_tag add_show_path do %>
  <%= label_tag(:add, 'Add Series') %>
  <%= text_field_tag(:add) %>
  <%= submit_tag('Add') %>
<% end %>

<%= link_to 'Show All', users_path(show_all: '1') %>

<%# Display the follows for this user %>
<% @data.each do |d| %>
  <%= content_tag :h1, d[:name] %>
  <%= link_to 'Remove Series', remove_show_path(remove: d[:id]) %>
  <%= link_to 'Update Series', update_show_path(update: d[:id]) %>

  <%# Show the episodes in a table %>
  <%= form_tag set_show_status_path do %>
    <table>
      <thead>
        <tr>
          <th><%= check_box_tag nil, nil, false, class: 'select_all' %></th>
          <th>Season</th>
          <th>Episode</th>
          <th>Name</th>
          <th>First Aired</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% d[:episodes].each do |e| %>
          <tr>
            <td><%= check_box_tag 'watched_ids[]', e[:id] %></td>
            <%= content_tag :td, e[:season] %>
            <%= content_tag :td, e[:number] %>
            <%= content_tag :td, e[:name]   %>
            <%= content_tag :td, e[:first_aired] %>
            <%= content_tag :td, e[:watched].blank? ? 'Unwatched' : 'Watched' %>
          </tr>
        <% end %>
      </tbody>
    </table>
    Mark as <%= select_tag 'status', options_for_select([['Watched','1'],['Unwatched','0']]) %>
    <%= submit_tag 'Save Status' %>
  <% end %>

<% end %>