Hello <%= current_user.username %>! <%= link_to 'Log out', logout_path(current_user) %>

<%# Show a form for adding a new series %>
<%= form_tag add_show_path(current_user) do %>
  <%= label_tag(:add, 'Add Series') %>
  <%= text_field_tag(:add) %>
  <%= submit_tag('Add') %>
<% end %>

<%# Display the follows for this user %>
<% @follows.joins(:show).order(:name).each do |f| %>
  <%= content_tag :h1, f.show.name %>
  <%= link_to 'Remove Series', remove_show_path(current_user, remove: f.show) %>

  <%# Show the episodes in a table %>
  <%= form_tag 'hi' do %>
    <table>
      <thead>
        <tr>
          <th><!--Mark--></th>
          <th>Season</th>
          <th>Episode</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% f.show.episodes.order(:season, :number).each do |e| %>
          <tr>
            <td><%= check_box_tag 'watched_ids[]', e.id %></td>
            <%= content_tag :td, e.season %>
            <%= content_tag :td, e.number %>
            <%= content_tag :td, e.name %>
            <%= content_tag :td, @watches.where(episode_id: e.id).empty? ? 'Unwatched' : 'Watched' %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Mark as Watched' %>
  <% end %>

<% end %>